<!DOCTYPE html>
<html lang = en>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pick Your Activity</title>
    </head>
    <body>
        <h1>Plan Your Activity</h1>
        <form id = "form">
            <input 
            type="text"
            id="location"
            placeholder="Input Location"
            required>

        <select id="activity" required>
            <option value="">Select activity</option>
            <option value="Beach">Beach</option>
            <option value="Hiking">Hiking</option>
            <option value="Wedding">Wedding</option>
        </select>
        
        <button type="submit">Find Best Day</button>
            
        </form>
    <p id="status"></p>

    </body>
</html>